@font-face {
  font-family: "Uthman Hafs";
  src: local("KFGQPC Uthmanic Script HAFS"),
    url(https://cdn.rawgit.com/mustafa0x/qpc-fonts/f93bf5f3/various-woff2/UthmanicHafs1%20Ver09.woff2)
      format("woff2"),
    url(https://cdn.rawgit.com/mustafa0x/qpc-fonts/f93bf5f3/various-woff/UthmanicHafs1%20Ver09.woff)
      format("woff");
}

.silent,
.lam_shamsiyyah,
.hamzat_wasl {
  color: rgba(0, 0, 0, 0.12);
}
.iqlab {
  color: darkgreen;
}
.madd_2 {
  color: lightcoral;
}
.madd_246 {
  color: crimson;
}
.madd_6 {
  color: orchid;
}
.madd_muttasil,
.madd_munfasil {
  color: darkmagenta;
}

.idghaam_ghunnah,
.idghaam_shafawi,
.idghaam_mutajaanisain,
.idghaam_mutaqaaribain,
.ghunnah {
  color: deeppink;
}
.ikhfa,
.ikhfa_shafawi {
  color: deepskyblue;
}
.qalqalah {
  color: brown;
}

/* .hamzat_wasl {
  color: teal;
}
.lam_shamsiyyah {
  color: burlywood;
} */
/* ============================================ 
    No styled rule
    1. Without Ghunnah (idghaam_no_ghunnah)
    2. Hamzat al-Wasl (hamzat_wasl)
    3. Lam al-Shamsiyyah (lam_shamsiyyah)

  Madd...
    1. Regular: 2 harakat (madd_2)
    2. al-Aarid/al-Leen: 2, 4, 6 harakat (madd_246)
    3. al-Muttasil: 4, 5 harakat (madd_muttasil)
    4. al-Munfasil: 4, 5 harakat (madd_munfasil)
    5. Laazim: 6 harakat (madd_6)
=============================================== */

/* =============================== 
FONT
The mushaf fonts can be retrieved from one of the following:

http://qurancomplex.gov.sa/TTF/ + name of the file,
or the Windows installer.
While the various fonts are located at http://fonts.qurancomplex.gov.sa.

Usage
@font-face {
  font-family: 'Uthman Naskh';
  src: local('KFGQPC Uthman Taha Naskh'),
       url(https://cdn.rawgit.com/mustafa0x/qpc-fonts/f93bf5f3/various-woff2/UthmanTN1%20Ver10.woff2) format('woff2'),
       url(https://cdn.rawgit.com/mustafa0x/qpc-fonts/f93bf5f3/various-woff/UthmanTN1%20Ver10.woff) format('woff');
}
@font-face {
  font-family: 'Uthman Naskh';
  font-weight: bold;
  src: local('KFGQPC Uthman Taha Naskh Bold'), local('KFGQPCUthmanTahaNaskh-Bold'),
       url(https://cdn.rawgit.com/mustafa0x/qpc-fonts/f93bf5f3/various-woff2/UthmanTN1B%20Ver10.woff2) format('woff2'),
       url(https://cdn.rawgit.com/mustafa0x/qpc-fonts/f93bf5f3/various-woff/UthmanTN1B%20Ver10.woff) format('woff');
}
@font-face {
  font-family: 'Uthman Hafs';
  src: local('KFGQPC Uthmanic Script HAFS'),
       url(https://cdn.rawgit.com/mustafa0x/qpc-fonts/f93bf5f3/various-woff2/UthmanicHafs1%20Ver09.woff2) format('woff2'),
       url(https://cdn.rawgit.com/mustafa0x/qpc-fonts/f93bf5f3/various-woff/UthmanicHafs1%20Ver09.woff) format('woff');
}
@font-face {
  font-family: 'QPC Symbols';
  src: local('KFGQPC Arabic Symbols 01'),
       url(https://cdn.rawgit.com/mustafa0x/qpc-fonts/f93bf5f3/various-woff2/Symbols1_Ver02.woff2) format('woff2'),
       url(https://cdn.rawgit.com/mustafa0x/qpc-fonts/f93bf5f3/various-woff/Symbols1_Ver02.woff) format('woff');
}
Mushaf fonts
@font-face {
  font-family: 'Mushaf Ligatures';
  src: local('QCF_BSML'),
       url(https://cdn.rawgit.com/mustafa0x/qpc-fonts/f93bf5f3/mushaf-woff2/QCF_BSML.woff2) format('woff2'),
       url(https://cdn.rawgit.com/mustafa0x/qpc-fonts/f93bf5f3/mushaf-woff/QCF_BSML.woff) format('woff');
}
@font-face {
  font-family: 'Mushaf Page NNN';
  src: local('QCF_PNNN'),
       url(https://cdn.rawgit.com/mustafa0x/qpc-fonts/f93bf5f3/mushaf-woff2/QCF_PNNN.woff2) format('woff2'),
       url(https://cdn.rawgit.com/mustafa0x/qpc-fonts/f93bf5f3/mushaf-woff/QCF_PNNN.woff) format('woff');
}
After replacing NNN with the actual page number (001-604).
 Note that the mushaf fonts use a character to represent each word — see mushaf.txt.
=============================== */
